//
// QA'$i'.xcconfig  
// VroongFriends
//
// QA'$i' Environment Configuration
//

#include "Base.xcconfig"

// Flavor
FLAVOR = qa'$i'
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) QA'$i'

// Bundle Identifier
PRODUCT_BUNDLE_IDENTIFIER = com.vroong.friends.qa'$i'

// App Name
DISPLAY_NAME = 프렌즈 QA'$i'
PRODUCT_NAME = VroongFriends-QA'$i'

// API Configuration
API_BASE_URL = https:\/\/qa'$i'-api.vroong-friends.com
SOCKET_URL = wss:\/\/qa'$i'-socket.vroong-friends.com

// Code Signing
CODE_SIGN_STYLE = Manual
DEVELOPMENT_TEAM = YOUR_TEAM_ID
PROVISIONING_PROFILE_SPECIFIER = VroongFriends QA'$i'

// Debug Settings
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
ENABLE_TESTABILITY = YES
GCC_OPTIMIZATION_LEVEL = 0
SWIFT_OPTIMIZATION_LEVEL = -Onone
